@each $name, $value in $colors {
    .color-#{"" + $name} {
        color: var(--#{"" + $name});
        &-hover:hover {
            color: var(--#{"" + $name});
        }
    }
    .bg-#{"" + $name} {
        background: var(--#{"" + $name});
        &-hover:hover {
            background: var(--#{"" + $name});
        }
    }
    .border{
        &-#{"" + $name} {
            border-color: var(--#{"" + $name});
            &-hover:hover {
                border-color: var(--#{"" + $name});
            }
        }
        &-t-#{"" + $name} {
            border-top-color: var(--#{"" + $name});
            &-hover:hover {
                border-top-color: var(--#{"" + $name});
            }
        }
        &-r-#{"" + $name} {
            border-right-color: var(--#{"" + $name});
            &-hover:hover {
                border-right-color: var(--#{"" + $name});
            }
        }
        &-b-#{"" + $name} {
            border-bottom-color: var(--#{"" + $name});
            &-hover:hover {
                border-bottom-color: var(--#{"" + $name});
            }
        }
        &-l-#{"" + $name} {
            border-left-color: var(--#{"" + $name});
            &-hover:hover {
                border-left-color: var(--#{"" + $name});
            }
        }
    }
}
