.font {
    @include resp {
        @for $var from $font-min to $font-max {
            &-#{$var} {
                font-size: ptr($var * 1px);
            }
        }
        &-w {
            @for $var from 1 to 10 {
                &-#{$var * 100} {
                    font-weight: #{$var * 100};
                }
            }
        }
        &-style {
            &-italic {
                font-style: italic;
            }
            &-normal {
                font-style: normal;
            }
            &-oblique {
                font-style: oblique;
            }
        }
    }
}
.line-h {
    @include resp {
        @for $var from $line-h-min to $line-h-max {
            &-#{$var} {
                line-height: #{$var / 10};
            }
        }
    }
}
