#nprogress {
    --color-loader: var(--gray);
    .bar {
        background: var(--color-loader);
        height: ptr(5px);
    }
    .peg {
        box-shadow: 0 0 10px var(--color-loader), 0 0 5px var(--color-loader);
    }
    .spinner-icon {
        width: ptr(35px);
        height: ptr(35px);
        border: solid ptr(5px) transparent;
        border-top-color: var(--color-loader);
        border-left-color: var(--color-loader);
    }
}
