.progress {
    &-circular {
        &-porcentaje {
            &.before::before {
                counter-reset: p min(max(var(--p), 0), 100);
                content: counter(p) "%";
            }
            &.after::after {
                counter-reset: p min(max(var(--p), 0), 100);
                content: counter(p) "%";
            }
        }
        .capCircle {
            transform: rotateZ(
                calc(
                    var(--d, 45deg) +
                        calc(
                            min(
                                    max(
                                        calc(var(--p) - var(--e, 0)),
                                        var(--min, 0)
                                    ),
                                    var(--max, 50)
                                ) * 3.6deg
                        )
                )
            );
        }
    }
}
