@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Regular.ttf"); }
.font-montserrat {
  font-family: montserrat; }

html {
  font-size: 13px;
  overflow: auto; }
  @media (min-width: 575px) {
    html {
      font-size: 14px; } }
  @media (min-width: 768px) {
    html {
      font-size: 15px; } }
  @media (min-width: 992px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1024px) {
    html {
      font-size: 18px; } }
  @media (min-width: 1440px) {
    html {
      font-size: 21px; } }
  @media (min-width: 1680px) {
    html {
      font-size: 23px; } }
  @media (min-width: 1920px) {
    html {
      font-size: 25px; } }

:root {
  --white: white;
  --black: black;
  --red: red;
  --blue: blue;
  --green: green;
  --lime: lime;
  --yellow: yellow;
  --orange: orange;
  --gray: gray;
  --bunker: #161b22;
  --error: red;
  --transparent: transparent; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background-color: var(--white, white); }

::-webkit-scrollbar-thumb {
  background-color: var(--gray, gray); }

* {
  scroll-behavior: smooth; }

.idScroll {
  transform: translateY(calc(calc(-1 * var(--sizeHeader, 0)) - 1.25rem )); }

.container {
  width: 100%;
  max-width: var(--container, 75rem);
  margin-left: auto;
  margin-right: auto; }

.bg, .bg img, .bg .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

.input.error {
  --box-c: var(--error, var(--red)); }
.input.ok {
  --box-c: var(--ok, var(--green)); }
.input.input-date::-webkit-calendar-picker-indicator {
  display: block;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 10; }

body {
  padding-top: var(--sizeHeader, 0); }

/*# sourceMappingURL=style.css.map */
