.input {
    &.error {
        --box-c: var(--error, var(--red));
    }
    &.ok {
        --box-c: var(--ok, var(--green));
    }
    &.input-date::-webkit-calendar-picker-indicator {
        display: block;
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        z-index: 10;
    }
}
